<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Cria">
    <select id="getAllCrias" resultType="modelo.pojos.Cria" statementType="CALLABLE">
        {CALL sag.sp_getAllCrias()}
    </select>
    
    <insert id="registrarCria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_registrarCria(
            #{idHatoMadre, jdbcType=INTEGER,mode=IN},
            #{sexo, jdbcType=VARCHAR,mode=IN},
            #{fechaNacimiento, jdbcType=VARCHAR,mode=IN},
            #{idRaza, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{observaciones, jdbcType=VARCHAR,mode=IN},
            #{idUsuarioCreador, jdbcType=INTEGER,mode=IN},
            #{fechaCreacion, jdbcType=VARCHAR,mode=IN})}
    </insert>
    
    <insert id="actualizarCria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_actualizarCria(
            #{idCria, jdbcType=INTEGER,mode=IN},
            #{sexo, jdbcType=VARCHAR,mode=IN},
            #{fechaNacimiento, jdbcType=VARCHAR,mode=IN},
            #{idRaza, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{observaciones, jdbcType=VARCHAR,mode=IN},
            #{idUsuarioModificador, jdbcType=INTEGER,mode=IN},
            #{fechaModificacion, jdbcType=VARCHAR,mode=IN})}
    </insert>
    
    <update id="actualizarEstatusCria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_actualizarEstatusCria(
            #{idCria, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idUsuarioModificador, jdbcType=INTEGER,mode=IN},
            #{fechaModificacion, jdbcType=VARCHAR,mode=IN})}
    </update>
    
    <update id="eliminarCria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_eliminarCria(
        #{idCria, jdbcType=INTEGER,mode=IN},
        #{fechaBaja, jdbcType=VARCHAR,mode=IN})}
    </update>
    
</mapper>