<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Movimiento">
    <select id="getAllMovimientos" resultType="modelo.pojos.Movimiento" statementType="CALLABLE">
        {CALL sag.sp_getAllMovimientos()}
    </select>
    
    <insert id="registrarMovimiento" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_registrarMovimiento(
            #{idTipo, jdbcType=INTEGER,mode=IN},
            #{idConcepto, jdbcType=INTEGER,mode=IN},
            #{cantidad, jdbcType=VARCHAR,mode=IN},
            #{fechaCreacion, jdbcType=VARCHAR,mode=IN},
            #{idUsuarioCreador, jdbcType=INTEGER,mode=IN},
            #{descripcion, jdbcType=VARCHAR,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN})}
    </insert>
    
    <update id="actualizarEstatusMovi" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_actualizarEstatusMovi(
            #{idMovimiento, jdbcType=INTEGER,mode=IN},
            #{fechaCancelacion, jdbcType=VARCHAR,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN})}
    </update>
    
    <update id="cancelarMovimiento" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_cancelarMovimiento(
            #{idMovimiento, jdbcType=INTEGER,mode=IN},
            #{fechaCancelacion, jdbcType=VARCHAR,mode=IN})}
    </update>
    
</mapper>