<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Rancho">
    <select id="getAllRanchos" resultType="modelo.pojos.Rancho" statementType="CALLABLE">
        {CALL sag.sp_getAllRanchos()}
    </select>
    
</mapper>